# Git
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gb='git branch'
alias gsw='git switch'
alias gr='git restore'

alias gaa='git add -A'
alias gcm='git commit -m'
alias gd='git diff -w'
alias gu='git reset --soft HEAD~1'
alias gl='git log --oneline --graph --decorate'

# Unix
alias ls='ls --color=auto'
alias ll='ls -la'
alias mkdir='mkdir -p'
alias ..='cd ..'
alias ...='cd ../..'

# Tools
alias tree='tree -a --dirsfirst -I .git'

alias bu='brew update; brew upgrade; brew cleanup'

alias d='docker'
alias dc='docker compose'

alias localip='ipconfig getifaddr en0'

# Python
va() {
  if [[ -n "$VIRTUAL_ENV" ]]; then
    deactivate
    return
  fi

  local dir="$PWD"
  while [[ "$dir" != "/" ]]; do
    if [[ -f "$dir/.venv/bin/activate" ]]; then
      source "$dir/.venv/bin/activate"
      return
    fi
    dir=$(dirname "$dir")
  done
  echo "No .venv found in current or parent directories"
}
