[user]
  name = Quentin Maret
  email = 116326921+quentinmaret@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICn/SEmW+28Bkk9/12PkjVy9hoW5cb2ErYNhJmLfgy02
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
  allowedSignersFile = ~/.ssh/allowed_signers
[commit]
  gpgsign = true
[push]
  autoSetupRemote = true
[core]
  excludesFile = ~/.gitignore
